// collapsed list
.collapsed-container {

    // done items list is invisible normally 
    .done-item-list {
        display: none;
    }

    // done items list is visible when opened
    &.done-visible {
        i.icon-up {
            transform: rotate(90deg);
        }

        .done-item-list {
            display: block;
        }
    }

    // collapsed list
    .collapsed {
        .item();
        padding-left : 0;
        padding-right: 2rem;

        @media (max-width: 768px) {
            width: 80%;
        }

        .collapsed-btn {
            display         : flex;
            place-items     : center;
            padding         : 0.5rem 0;
            padding-right   : .5rem;
            border-radius   : 5px;
            font-size       : 15px;
            color           : @text-color-black;
            background-color: @btn-color;
            user-select     : none;
            cursor          : default;
            .ease();

            &:hover {
                background-color: @btn-color-hl;
                .ease();
            }

            &:active {
                background-color: @bg-color-ac;
                .ease();
            }

            i.icon-up {
                margin    : 0 0.3rem;
                .ease();
            }

            .btn-count {
                margin-left: 0.5rem;
            }
        }
    }
}