.heading {

    i,
    span {
        color: #788cde;
    }
}

.task-list {
    display       : flex;
    flex-direction: column;
    flex          : 1 1 0px;
    position      : relative;
    padding-bottom: 100px;
    overflow      : hidden;

    .list-container {
        position  : relative;
        overflow-y: auto;
        overflow-x: hidden;
        .scrollbar();
    }


}