// 页面初始化样式
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin        : 0;
	padding       : 0;
	border        : 0;
	font-size     : 100%;
	font          : inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing : 0;
}

// end
// :root {}

// dark mode
@bg-color                : #202020;
@bg-color-items          : #2b2b2b;
@bg-color-items-hl       : #323232;
@bg-color-items-ac       : #3a3a3a;
@bg-color-shade          : #1d1d1d;
@bg-color-input          : #323232;
@btn-bd-color            : rgba(255, 255, 255, 0.1);
@btn-color-hl            : #2d2d2d;
@btn-color-ac            : #313131;
@btn-bd-bt-color         : rgba(255, 255, 255, 0.2);
@text-color-black        : #efefef;
@text-color-grey         : #c0c0c0;
@text-color-faded        : #919191;
@text-color-white        : #ffffff;
@side_hr                 : #3d3d40;
@icon-color              : #929292;

// light mode
// @bg-color                : #f1f3f9;
// @bg-color-items          : #fcfbfd;
// @bg-color-items-hl       : #e8eaf0;
// @bg-color-items-ac       : #bbbbbb88;
// @bg-color-shade          : #8795a0;
// @bg-color-input          : #e8eaf0;
// @btn-bd-color            : rgba(0, 0, 0, 0.1);
// @btn-color-hl            : rgba(255, 255, 255, 0.6);
// @btn-color-ac            : rgba(255, 255, 255, 0.3);
// @btn-bd-bt-color         : rgba(0, 0, 0, 0.2);
// @text-color-black        : #1a1a1a;
// @text-color-grey         : #5f5f60;
// @text-color-faded        : #919191;
// @text-color-white        : #fff;
// @side_hr                 : #d6d6d6;
// @icon-color              : #929292;

body {
	background-color: @bg-color;
}

.note,
.task,
.star {
	display       : flex;
	flex-direction: column;
	flex          : 1 1 0px;
	position      : relative;
	overflow      : hidden;
	transition    : background-color 0.3s;

	.heading {

		padding: 0 2rem 1rem 1rem;

		&.diy-list {
			.heading-icon {
				cursor: pointer;
				.hov();
			}

			.heading-title span {
				cursor: text;
				.hov();
			}
		}

		// pc & tablet
		@media (min-width: 768px) {
			padding-top: 2rem;
		}

		.heading-main {
			display    : flex;
			align-items: center;

			// icon
			.heading-icon {
				margin-top: 5px;
				padding   : .25rem;

				i {
					font-size: 30px;
				}
			}

			// title
			.heading-title {
				display    : flex;
				align-items: center;

				// text
				span {
					padding    : .35rem;
					font-size  : 2rem;
					font-weight: bold;
					outline    : 0px;
					user-select: none;

					&:focus {
						background-color: @bg-color-items-hl;
						outline         : 0px;
						.ease();
					}
				}
			}
		}
	}
}

// isdone btn for item
.icon {
	font-size  : 20px;
	font-weight: bold;
	color      : @icon-color;
	user-select: none;
}

// to-do item
.item {
	display        : flex;
	justify-content: flex-start;
	align-items    : center;
	width          : 90%;
	height         : 55px;
	z-index        : 1;
	margin         : 5px auto;
	padding        : 0 1rem;
	border-radius  : 5px;
	overflow       : hidden;
}

.scrollbar {

	// 整体
	&::-webkit-scrollbar {
		width: 8px;
	}

	// 轨道
	&::-webkit-scrollbar-track {
		border-radius: 5px;
		background   : @bg-color;
	}

	// 滑块
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background   : #00000030;
		.ease();
	}

	&::-webkit-scrollbar-thumb:hover {
		border-radius: 5px;
		background   : #00000050;
		.ease();
	}

	// 失焦
	&::-webkit-scrollbar:window-inactive {
		display: none;
	}

}



.ease {
	transition: all .2s ease;
}

.shadow {
	box-shadow: 0 0 20px 2px #918f8f;
}

.hov {
	border-radius: 5px;
	.ease();

	&:focus {
		span {
			// background-color: @bg-color-items-hl;
			opacity: 1;
			.ease();
		}
	}

	&:hover {
		background-color: @bg-color-items-hl;
		.ease();

		span {
			opacity: 0.75;
			.ease();
		}

		&:active {
			background-color: @bg-color-items-ac;
			.ease();
		}
	}

	&:active {
		span {
			opacity: 1;
			.ease();
		}
	}
}