.task-list-item {
    .item();
    background-color: @bg-color-items;
    .ease();

    &:hover {
        background-color: @bg-color-items-hl;
        .ease();
    }

    // mobile
    @media (max-width: 768px) {
        width: 80%;
    }

    .item-isdone {

        i {
            .icon();
        }

    }

    .item-title {
        margin-left: 15px;
        color      : @text-color-black;
    }

    .item-star,
    .item-del {
        display        : flex;
        justify-content: flex-end;
        flex-grow      : 1;

        i {
            .icon();
        }
    }
}