.task-list-item {
    .item();
    background-color: @bg-color-items;
    .ease();

    &:focus-within {
        background-color: @bg-color-items-hl;
        .ease();
    }

    &:hover {
        background-color: @bg-color-items-hl;
        .ease();
    }

    // mobile
    @media (max-width: 768px) {
        width: 80%;
    }

    .item-isdone {

        i {
            .icon();
            cursor: pointer;
        }
    }

    .item-title {
        margin-left : 15px;
        margin-right: auto;
        color       : @text-color-black;
        user-select : none;
        cursor      : text;

        span.done-item {
            color          : @text-color-faded;
            text-decoration: line-through;
        }

        span:focus {
            outline        : 0px;
            text-decoration: none;
        }
    }

    .item-star,
    .item-del {
        i {
            padding    : 0.2rem;
            font-size  : 22px;
            font-weight: bold;
            color      : @icon-color;
            .ease();

            &:hover {
                .ease();
            }

            cursor: pointer;
        }

    }
    

    .item-star {
        .icon-star{
            display: block;
        }
        .icon-star-selected{
            display: none;
        }
        i {
            &:hover {
                color: #efad03;
            }
        }
    }
    .active-star {
        .ease();
        .icon-star{
            display: none;
        }
        .icon-star-selected{
            display: block;
        }
        i {
            color: #efad03;
        }

        &:hover{
            .icon-star{
                display: block;
                color: #efad03;
                opacity: 1;
                .ease();
            }
            .icon-star-selected{
                display: none;
                .ease();
            }
        }
    }
    .item-del {
        i {
            margin-left: 10px;

            &:hover {
                color: #e64b36;
            }
        }
    }
}