.heading {

    i,
    span {
        color: #efad03;
    }
}

.taskList {
    overflow      : hidden;
    position      : relative;
    display       : flex;
    flex-direction: column;
    flex          : 1 1 0px;
    padding-bottom: 100px;

    .task-container {
        position  : relative;
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 99.5%;
        .scrollbar();
    }

    .taskList-item {
        .item();
        background-color: @bg-color-items;
        .ease();

        @media (max-width: 768px) {
            width: 80%;
        }

        &:hover {
            background-color: @bg-color-items-hl;
            .ease();
        }

        .item-isdone {
            i.icon-undone {
                .icon();
            }
        }

        .item-title {
            margin-left: 15px;
            color      : @text-color-black;
        }

        .item-star {
            display        : flex;
            flex-grow      : 1;
            justify-content: flex-end;

            i.icon-star {
                .icon();
            }
        }
    }

    .note-list {
    .scrollbar();
    padding-top   : .5rem;
    padding-bottom: 1rem;
    // overflow-y    : auto;

    .note-container {
        display              : grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1.25fr));
        gap                  : 20px;
        place-items          : start stretch;
        padding              : 0 1rem;
    }
}
    
}