.task-add {
    position: absolute;
    bottom  : 0;
    left    : 0;
    right   : 2px;
    height  : 100px;

    .add-container {
        .item();
        margin          : 15px auto;
        padding         : 0 1rem;
        background-color: @bg-color-items;
        cursor          : text;
        .ease();

        // mobile
        @media (max-width: 768px) {
            width: 80%;
        }

        // add icon & undone icon
        i {
            .icon();
            cursor: default;
        }

        span {
            color      : @text-color-black;
            margin-left: 1rem;
        }

        // .icon-undone {
        //     display: none;
        // }

        &:focus-within {
            color           : @text-color-black;
            background-color: @bg-color-items-hl;
            .ease();

            // .icon-add {
            //     display: none;
            // }

            // .icon-undone {
            //     display: inline;
            // }

            // &::placeholder {
            //     opacity: 0;
            // }
        }

        &:hover {
            background-color: @bg-color-items-hl;
            .ease();
        }
    }

    // type-in area
    input.type-in-area {
        .item();
        width           : 100%;
        border          : none;
        color           : @text-color-grey;
        background-color: transparent;
        outline         : none;

        // &:focus {
        //     color: @text-color-black;

        //     &::placeholder {
        //         visibility: hidden;
        //     }
        // }
    }
}