.heading {

    i,
    span {
        color: #efad03;
    }
}

.note-add {
    background : @bg-color-items;
    height     : 100px;
    position   : absolute;
    bottom     : 0;
    right      : 2px;
    left       : 0;
    user-select: none;

    .add {
        .item();
        margin-top      : 15px;
        background-color: @bg-color-items;

        @media (max-width: 768px) {
            width: 80%;
        }

        i.icon-add {
            .icon();
        }

        span {
            margin-left: 15px;
            color      : @text-color-grey;
        }
    }
}

.note-list {
    overflow-y: auto;

    .note-container {
        padding  : 0 1rem;
        display  : flex;
        flex-wrap: wrap;

        .note-list-item {
            display         : flex;
            flex-direction  : column;
            margin-right    : 10px;
            margin-bottom   : 10px;
            width           : 32%;
            height          : 150px;
            border-radius   : 5px;
            background-color: @bg-color-items;
            cursor          : default;

            // mobile
            @media (max-width: 768px) {
                width: 100%;
            }

            &:hover {
                background-color: @bg-color-items-hl;
            }

            &.note-add {
                justify-content: center;
                align-items    : center;

                i {
                    font-size  : 18px;
                    font-weight: bold;
                    color      : @icon-color;
                }
            }

            .note-time {
                display        : flex;
                justify-content: end;
                padding        : .5rem 1rem;
                font-size      : 12px;
                color          : @text-color-grey;
            }

            .note-content {
                padding  : 0 .8rem;
                font-size: 15px;
                color    : @text-color-grey;

                p {
                    display           : -webkit-box;
                    text-align        : justify;
                    line-height       : 20px;
                    overflow          : hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                }

                .note-title {
                    color: @text-color-black;
                }

            }
        }
    }
}